package app

import (
	"github.com/smtdfc/photon"
)

func Start() {
	app := photon.CreateApp()
	app.Adapter.Http = photon.CreateHttpAdapter(&photon.HttpAdapterConfig{
		App:       app,
		IsLogging: true,
	})
	
	InitModule()
	app.Start("3000")
}
