package app

import (
  "github.com/smtdfc/photon/v2/core"
  "github.com/smtdfc/photon-http-gateway"
)

func Start() {
	app := core.NewApp()
	app.SetGateway(
		"http",
		httpGateway.New(httpGateway.Config{}),
	)
	
	InitModules(app)
	app.Start()
}
