package app

import (
	"github.com/smtdfc/photon/core"
	"github.com/smtdfc/photon/http_adapter"
)

func Start() {
	app := core.CreateApp()
	app.Adapter.Http = http_adapter.CreateHttpAdapter(&http_adapter.HttpAdapterConfig{
		IsLogging: true,
	})

	InitModule(app)
	app.Start("3000")
}
