package {{.ModuleNormalizedName}}

// This file is used to define HTTP route handler functions for this module.
//
// Each function here should match the expected signature for photon route handlers:
// func(ctx photon.Context)
//
// Handlers defined here should be registered in InitRoutes(), located in routes.go.
// Keep handlers focused on processing the request and returning a response.
// Avoid placing routing logic or module setup code here.

