package hello

import "github.com/smtdfc/photon/core"
import "github.com/smtdfc/photon-http-gateway"

var (
  ROUTE_PREFIX = ""
)

func initRoute(){
  http := core.ResolveGateway[*httpGateway.Gateway](self(),"http").CreateScope(self(),ROUTE_PREFIX)
  http.Get("/hello",func(ctx core.HttpContext){
    
  })
}
