package {{.ModuleNormalizedName}}

// This function will be called when the module is initialized. 
func onModuleInit(){
  initRoute()
}

//This function will be called when the module starts. 
func onModuleStart(){

}