package {{.ModuleNormalizedName}}

// InitRoutes is automatically called by the framework when the module is initialized.
//
// This function is used to register all HTTP routes for the module.
// Do not rename this function or add parameters—doing so will break the module system.
//
// Use self().Router.Get/Post/Put/Delete(...) to define endpoints.
// Example:
// self().Router.Get("/example", func(ctx photon.Context) { ... })
//
// Only define routes here. Do not include business logic or setup code.

func InitRoutes() {
// Register routes using self().Router
}


