package {{.ModuleNormalizedName}}


// TODO: Implement all methods required by the domain.I{{.ModuleName}}Service interface
// on the {{.ModuleName}}Service struct.
//
// The {{.ModuleName}}Service struct has been predefined. You only need to ensure that
// it satisfies the domain.I{{.ModuleName}}Service interface by implementing all its methods.
//
// Example:
//
// func (s *{{.ModuleName}}Service) SomeMethod(...) ReturnType {
// // Implementation goes here
// }