package {{.PackageName}}

import (
  "github.com/smtdfc/photon/pkg/base"
)


type {{.ModuleName}}ModuleHandler struct{}

func (h *{{.ModuleName}}ModuleHandler) Example(req photon.Request, res photon.Response){
  
}
