package {{.PackageName}}


type {{.ModuleName}}ModuleInjection struct{
  //implement here
}

var injects *{{.ModuleName}}ModuleInjection


func ({{.ModuleName}}Module) inject() *{{.ModuleName}}ModuleInjection{
  injects = &{{.ModuleName}}ModuleInjection{}
  return injects
}


func ({{.ModuleName}}Module) beforeInit(){
  // code here
}