
package {{.PackageName}}

import (
  "github.com/smtdfc/photon"
)

type {{.ModuleName}}Module struct {
  Module *photon.Module
  App *photon.App 
  Adapter *photon.AdapterManager
  Inject *{{.ModuleName}}ModuleInjection
  Handler *{{.ModuleName}}ModuleHandler
}


func Init(app *photon.App) *{{.ModuleName}}Module{
  {{.ModuleName}}Module{}.beforeInit()
  
  module := &{{.ModuleName}}Module{
    Module:photon.NewModule("{{.ModuleName}}Module",app),
    App:app,
    Adapter:app.Adapter,
    Inject: injects,
    Handler: &{{.ModuleName}}ModuleHandler{},
  }
  
  module.InitRoute()
  return module
}
